@import '_Grid';
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Amiri&family=Cormorant:ital,wght@1,500&family=Courgette&family=IBM+Plex+Mono:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&family=Roboto:wght@100;300&family=Satisfy&family=Source+Serif+Pro:wght@600&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Amiri&family=Cormorant:ital,wght@1,500&family=Courgette&family=IBM+Plex+Mono:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&family=Roboto:wght@100;300&family=Satisfy&family=Source+Serif+Pro:wght@600&family=Work+Sans:wght@500;800&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

/*
Breakpoints:
*/

$el_min_screen_width: 75em;
$l_min_screen_width: 62em;
$m_min_screen_width: 48em;
$s_min_screen_width: 37.5em;

/*
*
*/

body {
    margin: 0;
    border: 0;
}

body>header {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    margin-right: 1em;
    @media only screen and (min-width: $s_min_screen_width) {
        padding-left: 1em;
    }
    nav {
        background: #ffffff;
        width: 100%;
        z-index: 10;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
        @media only screen and (min-width: $s_min_screen_width) {
            background: #ffffff;
            width: 100%;
            position: static;
            box-shadow: none;
        }
        section {
            @media only screen and (min-width: $s_min_screen_width) {
                //small et +
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h1 {
                font-size: 1.8em;
                margin: 0 0 0 0.2em;
                padding: 0.4em;
                font-family: 'Work Sans', sans-serif;
            }
            div:first-child {
                display: flex;
                align-items: center;
                #img_logo {
                    height: 60px; //le logo
                    width: 60px;
                }
            }
            div:last-child {
                display: flex;
                justify-content: flex-end;
                .img_icone {
                    width: 30px;
                    height: 30px;
                    margin-left: 0.4em;
                }
            }
        }
    }
    p {
        color: lighten(black, 50%);
        padding-bottom: 2em;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    }
}

body>main {
    /*
    ECRAN EXTRA SMALL (par défaut)
    */
    @include grid(2);
    nav {
        @include elementXs(1,
        0);
    }
    article:nth-child(2) {
        @include elementXs(2,
        1);
    }
    article:nth-child(3) {
        @include elementXs(2,
        2);
    }
    article:nth-child(4) {
        @include elementXs(1,
        4);
    }
    article:nth-child(5) {
        @include elementXs(2,
        3);
    }
    article:nth-child(6) {
        @include elementXs(1,
        5);
    }
    article:nth-child(7) {
        @include elementXs(1,
        6);
    }
    article:nth-child(8) {
        @include elementXs(2,
        7);
    }
    article:nth-child(9) {
        @include elementXs(2,
        8);
    }
    article:nth-child(10) {
        @include elementXs(2,
        9);
    }
    article:nth-child(11) {
        @include elementXs(2,
        10);
    }
    footer {
        grid-row-end: 12;
        grid-column: 2;
    }
    /*
    *  PETITS ECRANS 
    */
    @media only screen and (min-width: $s_min_screen_width) {
        @include grid(3); //Grille de 3 parts égales
        nav {
            @include elementS(1,
            0);
        }
        article:nth-child(2) {
            @include elementS(2,
            0);
        }
        article:nth-child(3) {
            @include elementS(2,
            0);
        }
        article:nth-child(4) {
            @include elementS(1,
            0);
        }
        article:nth-child(5) {
            @include elementS(2,
            0);
        }
        article:nth-child(6) {
            @include elementS(1,
            0);
        }
        article:nth-child(7) {
            @include elementS(1,
            0);
        }
        article:nth-child(8) {
            @include elementS(2,
            0);
        }
        article:nth-child(9) {
            @include elementS(2,
            0);
        }
        article:nth-child(10) {
            @include elementS(2,
            0);
        }
        article:nth-child(11) {
            @include elementS(2,
            0);
        }
        footer {
            grid-row-end: 9;
            grid-column: 3;
        }
    }
    /*
    MOYEN ECRANS 
    */
    @media only screen and (min-width: $m_min_screen_width) {
        @include grid(4); //Grille de 4 parts égales
        nav {
            @include elementM(1,
            0);
        }
        article:nth-child(2) {
            @include elementM(2,
            1);
        }
        article:nth-child(3) {
            @include elementM(2,
            3);
        }
        article:nth-child(4) {
            @include elementM(1,
            2);
        }
        article:nth-child(5) {
            @include elementM(2,
            4);
        }
        article:nth-child(6) {
            @include elementM(1,
            5);
        }
        article:nth-child(7) {
            @include elementM(1,
            6);
        }
        article:nth-child(8) {
            @include elementM(2,
            7);
        }
        article:nth-child(9) {
            @include elementM(2,
            8);
        }
        article:nth-child(10) {
            @include elementM(2,
            9);
        }
        article:nth-child(11) {
            @include elementM(2,
            10);
        }
        footer {
            grid-row-end: 7;
            grid-column: 3 / span 1;
        }
    }
    /*
    GRANDS ECRANS
    */
    @media only screen and (min-width: $l_min_screen_width) {
        @include grid(5); //Grille de 5 parts égales
        nav {
            @include elementL(1,
            0);
        }
        article:nth-child(2) {
            @include elementL(2,
            1);
        }
        article:nth-child(3) {
            @include elementL(2,
            2);
        }
        article:nth-child(4) {
            @include elementL(1,
            4);
        }
        article:nth-child(5) {
            @include elementL(2,
            3);
        }
        article:nth-child(6) {
            @include elementL(1,
            5);
        }
        article:nth-child(7) {
            @include elementL(1,
            6);
        }
        article:nth-child(8) {
            @include elementL(2,
            7);
        }
        article:nth-child(9) {
            @include elementL(2,
            8);
        }
        article:nth-child(10) {
            @include elementL(2,
            9);
        }
        article:nth-child(11) {
            @include elementL(2,
            10);
        }
        footer {
            grid-row-end: 6;
            grid-column: 4 / span 1;
        }
    }
    /*
    EXTRA LARGE ECRANS
    */
    @media only screen and (min-width: $el_min_screen_width) {
        @include grid(6); //Grille de 6 parts égales
        nav {
            @include elementEl(1,
            0);
        }
        article:nth-child(2) {
            @include elementEl(2,
            0);
        }
        article:nth-child(3) {
            @include elementEl(2,
            0);
        }
        article:nth-child(4) {
            @include elementEl(1,
            0);
        }
        article:nth-child(5) {
            @include elementEl(2,
            0);
        }
        article:nth-child(6) {
            @include elementEl(1,
            0);
        }
        article:nth-child(7) {
            @include elementEl(1,
            0);
        }
        article:nth-child(8) {
            @include elementEl(2,
            0);
        }
        article:nth-child(9) {
            @include elementEl(2,
            0);
        }
        article:nth-child(10) {
            @include elementEl(2,
            0);
        }
        article:nth-child(11) {
            @include elementEl(2,
            0);
        }
        footer {
            grid-row-end: 5;
            grid-column: 5 / span 1;
        }
    }
    nav {
        color: #f66a24;
        font-family: 'Open Sans', sans-serif;
        h1 {
            font-family: 'Work Sans', sans-serif;
        }
        a {
            text-decoration: none;
            color: #f66a24;
        }
        ul {
            list-style: none;
            display: grid;
            grid-template-rows: repeat(13, 1.7em);
        }
        padding: 10px;
    }
    article:nth-child(2) {
        transform: rotate(-1deg);
    }
    article:nth-child(3) {
        transform: rotate(0.5deg);
    }
    article:nth-child(4) {
        transform: rotate(0.8deg);
    }
    article:nth-child(5) {
        transform: rotate(-1deg);
    }
    article:nth-child(6) {
        transform: rotate(-0.8deg);
    }
    article:nth-child(7) {
        transform: rotate(1deg);
    }
    article:nth-child(8) {
        transform: rotate(-1deg);
    }
    article:nth-child(9) {
        transform: rotate(0.8deg);
    }
    article:nth-child(10) {
        transform: rotate(-0.8deg);
    }
    article:nth-child(11) {
        transform: rotate(0.5deg);
    }
}

article {
    header {
        h1 {
            font-family: 'Work Sans', sans-serif;
            color: #f66a24;
            padding: 0 1em 0 1em;
        }
        img {
            width: 100%;
        }
        h4 {
            position: absolute;
            margin-left: 1em;
            margin-top: 0.5em;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
            color: white;
            font-family: 'Work Sans', sans-serif;
        }
    }
    .author {
        a {
            color: black;
            font-family: 'Open Sans', sans-serif;
        }
        .article_date {
            font-style: italic;
            font-family: 'Open Sans', sans-serif;
        }
        img {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.4em;
        }
    }
    .article_text {
        font-family: 'Open Sans', sans-serif;
        padding: 0 1em 0 1em;
    }
    box-shadow: 2px 2px 6px rgba(0,
    0,
    0,
    0.4);
    box-sizing: border-box;
}

footer {
    #next {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 30px;
        padding: 5px 0px 5px 0px;
        text-align: center;
        img {
            width: 20px;
            height: 20px;
        }
    }
}