@charset "UTF-8";
/*
grid($nb_columns): reçoit en paramètre le nombre de colones qu'aura la grille
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Amiri&family=Cormorant:ital,wght@1,500&family=Courgette&family=IBM+Plex+Mono:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&family=Roboto:wght@100;300&family=Satisfy&family=Source+Serif+Pro:wght@600&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Amiri&family=Cormorant:ital,wght@1,500&family=Courgette&family=IBM+Plex+Mono:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&family=Roboto:wght@100;300&family=Satisfy&family=Source+Serif+Pro:wght@600&family=Work+Sans:wght@500;800&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap");
/*
Breakpoints:
*/
/*
*
*/
body {
  margin: 0;
  border: 0;
}

body > header {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-right: 1em;
}
@media only screen and (min-width: 37.5em) {
  body > header {
    padding-left: 1em;
  }
}
body > header nav {
  background: #ffffff;
  width: 100%;
  z-index: 10;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
}
@media only screen and (min-width: 37.5em) {
  body > header nav {
    background: #ffffff;
    width: 100%;
    position: static;
    box-shadow: none;
  }
}
@media only screen and (min-width: 37.5em) {
  body > header nav section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
body > header nav section h1 {
  font-size: 1.8em;
  margin: 0 0 0 0.2em;
  padding: 0.4em;
  font-family: "Work Sans", sans-serif;
}
body > header nav section div:first-child {
  display: flex;
  align-items: center;
}
body > header nav section div:first-child #img_logo {
  height: 60px;
  width: 60px;
}
body > header nav section div:last-child {
  display: flex;
  justify-content: flex-end;
}
body > header nav section div:last-child .img_icone {
  width: 30px;
  height: 30px;
  margin-left: 0.4em;
}
body > header p {
  color: gray;
  padding-bottom: 2em;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

body > main {
  /*
  ECRAN EXTRA SMALL (par défaut)
  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  /*
  *  PETITS ECRANS 
  */
  /*
  MOYEN ECRANS 
  */
  /*
  GRANDS ECRANS
  */
  /*
  EXTRA LARGE ECRANS
  */
}
body > main nav {
  grid-column: span 1;
  order: 0;
}
body > main article:nth-child(2) {
  grid-column: span 2;
  order: 1;
}
body > main article:nth-child(3) {
  grid-column: span 2;
  order: 2;
}
body > main article:nth-child(4) {
  grid-column: span 1;
  order: 4;
}
body > main article:nth-child(5) {
  grid-column: span 2;
  order: 3;
}
body > main article:nth-child(6) {
  grid-column: span 1;
  order: 5;
}
body > main article:nth-child(7) {
  grid-column: span 1;
  order: 6;
}
body > main article:nth-child(8) {
  grid-column: span 2;
  order: 7;
}
body > main article:nth-child(9) {
  grid-column: span 2;
  order: 8;
}
body > main article:nth-child(10) {
  grid-column: span 2;
  order: 9;
}
body > main article:nth-child(11) {
  grid-column: span 2;
  order: 10;
}
body > main footer {
  grid-row-end: 12;
  grid-column: 2;
}
@media only screen and (min-width: 37.5em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  body > main nav {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 0;
  }
  body > main footer {
    grid-row-end: 9;
    grid-column: 3;
  }
}
@media only screen and (min-width: 48em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  body > main nav {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 1;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 3;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 2;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 4;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 5;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 6;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 7;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 8;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 9;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 10;
  }
  body > main footer {
    grid-row-end: 7;
    grid-column: 3/span 1;
  }
}
@media only screen and (min-width: 62em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  body > main nav {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 1;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 2;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 4;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 3;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 5;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 6;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 7;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 8;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 9;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 10;
  }
  body > main footer {
    grid-row-end: 6;
    grid-column: 4/span 1;
  }
}
@media only screen and (min-width: 75em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  body > main nav {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 0;
  }
  body > main footer {
    grid-row-end: 5;
    grid-column: 5/span 1;
  }
}
body > main nav {
  color: #f66a24;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
body > main nav h1 {
  font-family: "Work Sans", sans-serif;
}
body > main nav a {
  text-decoration: none;
  color: #f66a24;
}
body > main nav ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(13, 1.7em);
}
body > main article:nth-child(2) {
  transform: rotate(-1deg);
}
body > main article:nth-child(3) {
  transform: rotate(0.5deg);
}
body > main article:nth-child(4) {
  transform: rotate(0.8deg);
}
body > main article:nth-child(5) {
  transform: rotate(-1deg);
}
body > main article:nth-child(6) {
  transform: rotate(-0.8deg);
}
body > main article:nth-child(7) {
  transform: rotate(1deg);
}
body > main article:nth-child(8) {
  transform: rotate(-1deg);
}
body > main article:nth-child(9) {
  transform: rotate(0.8deg);
}
body > main article:nth-child(10) {
  transform: rotate(-0.8deg);
}
body > main article:nth-child(11) {
  transform: rotate(0.5deg);
}

article {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
article header h1 {
  font-family: "Work Sans", sans-serif;
  color: #f66a24;
  padding: 0 1em 0 1em;
}
article header img {
  width: 100%;
}
article header h4 {
  position: absolute;
  margin-left: 1em;
  margin-top: 0.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Work Sans", sans-serif;
}
article .author a {
  color: black;
  font-family: "Open Sans", sans-serif;
}
article .author .article_date {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
article .author img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
}
article .article_text {
  font-family: "Open Sans", sans-serif;
  padding: 0 1em 0 1em;
}

footer #next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}
footer #next img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */