@charset "UTF-8";
/*
grid($nb_columns): reçoit en paramètre le nombre de colones qu'aura la grille
*/
/*
*Les propriétés des éléments des différentes grille prennent un $length(nombre de colones au sein de la grille), un $offset(un margin left, et un $order(l'ordre de l'élément au sein de la grille)
*/
/*
Breakpoints:
*/
/*
*
*/
body {
  margin: 0;
  border: 0;
}

body > header {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-right: 1em;
  padding-left: 20px;
}
body > header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body > header section h1 {
  font-size: 2em;
}
body > header section div:first-child {
  display: flex;
  align-items: center;
}
body > header section div:first-child #img_logo {
  height: 60px;
  width: 60px;
}
body > header section div:last-child {
  display: flex;
  justify-content: flex-end;
}
body > header section div:last-child .img_icone {
  width: 30px;
  height: 30px;
}
body > header p {
  font-size: 1em;
  color: #4d4d4d;
  padding-bottom: 1em;
}

body > main {
  /*
  ECRAN EXTRA SMALL (par défaut)
  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
  padding-left: 1%;
  padding-right: 1%;
  /*
  *  PETITS ECRANS 
  */
  /*
  MOYEN ECRANS 
  */
  /*
  GRANDS ECRANS
  */
  /*
  EXTRA LARGE ECRANS
  */
}
body > main nav {
  grid-column: span 1;
  order: 0;
}
body > main article:nth-child(2) {
  grid-column: span 2;
  order: 1;
}
body > main article:nth-child(3) {
  grid-column: span 2;
  order: 2;
}
body > main article:nth-child(4) {
  grid-column: span 1;
  order: 4;
}
body > main article:nth-child(5) {
  grid-column: span 2;
  order: 3;
}
body > main article:nth-child(6) {
  grid-column: span 1;
  order: 5;
}
body > main article:nth-child(7) {
  grid-column: span 1;
  order: 6;
}
body > main article:nth-child(8) {
  grid-column: span 2;
  order: 7;
}
body > main article:nth-child(9) {
  grid-column: span 2;
  order: 8;
}
body > main article:nth-child(10) {
  grid-column: span 2;
  order: 9;
}
body > main article:nth-child(11) {
  grid-column: span 2;
  order: 10;
}
body > main footer {
  grid-row-end: 12;
  grid-column: 2;
}
@media only screen and (min-width: 30em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body > main nav:first-child {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 0;
  }
  body > main footer {
    grid-row-end: 9;
    grid-column: 3;
  }
}
@media only screen and (min-width: 39em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body > main nav:first-child {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 1;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 3;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 2;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 4;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 5;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 6;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 7;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 8;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 9;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 10;
  }
  body > main footer {
    grid-row-end: 7;
    grid-column: 3/span 1;
  }
}
@media only screen and (min-width: 60em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body > main nav {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 1;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 2;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 4;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 3;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 5;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 6;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 7;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 8;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 9;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 10;
  }
  body > main footer {
    grid-row-end: 6;
    grid-column: 4/span 1;
  }
}
@media only screen and (min-width: 80em) {
  body > main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body > main nav:first-child {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(2) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(3) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(4) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(5) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(6) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(7) {
    grid-column: span 1;
    order: 0;
  }
  body > main article:nth-child(8) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(9) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(10) {
    grid-column: span 2;
    order: 0;
  }
  body > main article:nth-child(11) {
    grid-column: span 2;
    order: 0;
  }
  body > main footer {
    grid-row-end: 5;
    grid-column: 5/span 1;
  }
}
body > main nav {
  color: #F45709;
  padding: 10px;
}
body > main nav img {
  width: 100%;
}
body > main nav ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(13, 1.7em);
}
body > main article:nth-child(2) {
  transform: rotate(-1deg);
}
body > main article:nth-child(3) {
  transform: rotate(0.5deg);
}
body > main article:nth-child(4) {
  transform: rotate(0.8deg);
}
body > main article:nth-child(5) {
  transform: rotate(-1deg);
}
body > main article:nth-child(6) {
  transform: rotate(-0.8deg);
}
body > main article:nth-child(7) {
  transform: rotate(1deg);
}
body > main article:nth-child(8) {
  transform: rotate(-1deg);
}
body > main article:nth-child(9) {
  transform: rotate(0.8deg);
}
body > main article:nth-child(10) {
  transform: rotate(-0.8deg);
}
body > main article:nth-child(11) {
  transform: rotate(0.5deg);
}

article {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-family: "roboto";
  box-sizing: border-box;
}
article h1 {
  color: #F45709;
}
article .author a {
  color: black;
}
article img {
  width: 100%;
}

footer #next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}
footer #next img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */